<h1>Project <%= @project.title%></h1>
<p>Outcomes:</p>

<p><%=@project_outcome.title%></p>
<p><%=@project_outcome.details%></p>

<%if current_user.id == @project.user_id && @project_outcome.done == false %>
<%= button_to "Pay: #{format_price(@project.price)}", 
     create_payment_intent_path, 
     method: :post, 
     remote: true, 
     params:{id: @project.id}, 
     class: "btn btn-primary p-3", 
     data: {disable_with: "Loading..."}
      %>
    
    <%elsif @project_outcome.done%>
    <button class='btn btn-secondary' disabled>PAIED</button>
    <%end%>


<script src="https://js.stripe.com/v3/"></script>


<script>
document
  .querySelector("[data-stripe='payments']")
  .addEventListener("click", () => {

    const stripe = Stripe("<%=Rails.application.credentials.dig(:stripe, :public_key)%>");
    
    console.log(stripe);
    stripe.redirectToCheckout({
      sessionId: "<%=@session_id%>"
    });
  })
</script>
