<%# navbar in bootstrap style %>
<nav class="navbar navbar-expand-md sticky-top navba-light" style="background-color: #F7ECDE;">
<div class ="container-fluid">
<%=link_to "Organise-It" , root_path, class:"navbar-brand"%>
</div>
<ul class = "navbar-nav mr-5-lg">
<li class="nav-item"> 
        <%= link_to "Home", root_path,class: "nav-link"%>
</li>
<li class="nav-item"> 
        <%= link_to "Users", users_path,class: "nav-link"%>
</li>

<% if user_signed_in?%>
   <li class="nav-item"> 
        <%= link_to "Log Out", destroy_user_session_path, method: :delete ,class: "nav-link"%>
    </li>
   <li class="nav-item"> 
        <%= link_to "Profile", user_path(current_user) ,class: "nav-link"%>
    </li>
    
<%else%>
    <li class = "nav-item">
        <%= link_to "Log In" , new_user_session_path, class:"nav_link" %> 
    </li>

<%end%>
</ul>

</nav>
