<%# Can Be only seen by the Customer ; the Owner of the project %>
<h1> list of offers For <%= @project.title%> </h1>
<div class="container">
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
<%  @offers_list.each do |offer|%>
 <div class="col">
<div class="card shadow-sm">
<div class="card" style="width: 18rem;">
 <%if offer.project.pictures.attached?%>
     <%=image_tag offer.project.pictures[0], alt: offer.project.title, class:"card-img-top",width:"100%", height:"225"%>
 <%else%>
    <%=image_tag "default_pic.jpg", alt: "default", class:"bd-placeholder-img card-img-top",width:"100%", height:"225"%>
<%end%>
<h5 class="card-title">  <%= offer.project.title%> </h5>
    <ul class="list-group list-group-flush">
    <li>Message:
        <%=offer.message%>
     </li>
     <li>Offered By:
    <% user_name = User.find(offer.user_id)%>
    <%=user_name.first_name%>
    </li>
    <div class="btn-group">
    <%=link_to "View Offer to accept", offer_path(offer.id), class: "btn btn-sm btn-outline-secondary"%>
     </div>
</ul>
</div>
</div>
</div>
<%end%>
</div>
</div>